output/
output n=*, r=*/
output n=*/
defconn/output/

home.txt
__pycache__/
*.pyc
test.py
Garbage/

Results/
Results_3D/
Results_NE2/
Results_NE2_3D/
Results_NE3/
Results_NE4/
Results_NE5/
# Results_NE1_dim2/
# Results_NE2_dim2/
# Results_NE3_dim2/
# Results_NE4_dim2/
Results_NE1_dim3/
Results_NE2_dim3/
Results_NE3_dim3/
Results_NE4_dim3/
data/results/experiments_3d

# Generated result folders and manuscript figure assets
Results*/
# manuscripts/Figures/
# manuscripts/Figures_paper/

Results_test/
Results1/
defcon_test/
defcon3d/

test/
test2/
test2d/
test3d/
Init/
test.pvd
test2.pvd
test2d.pvd
test3d.pvd
Init.pvd

manuscripts/main.aux
manuscripts/main.bbl
manuscripts/main.blg
manuscripts/main.dvi
manuscripts/main.log
manuscripts/main.pdf
manuscripts/main.synctex.gz
manuscripts/main.out

manuscripts/paper.pdf
manuscripts/paper.synctex.gz
manuscripts/paper.bbl
manuscripts/paper.blg
manuscripts/paper.aux
manuscripts/paper.log
manuscripts/paper.out
manuscripts/paper.dvi
manuscripts/paper.thm

manuscripts/texput.log
manuscripts/presentation.pdf
manuscripts/presentation.synctex.gz
manuscripts/presentation.bbl
manuscripts/presentation.blg
manuscripts/presentation.aux
manuscripts/presentation.log
manuscripts/presentation.out
manuscripts/presentation.nav
manuscripts/presentation.snm
manuscripts/presentation.toc
manuscripts/presentation.vrb

manuscripts/Report.log
manuscripts/Report.pdf
manuscripts/Report.synctex.gz
manuscripts/Report.bbl
manuscripts/Report.blg
manuscripts/Report.aux
manuscripts/Report.log
manuscripts/Report.out
manuscripts/Report.nav
manuscripts/Report.snm
manuscripts/Report.toc
manuscripts/Report.vrb

manuscripts/Research_summary.pdf
manuscripts/Research_summary.synctex.gz
manuscripts/Research_summary.bbl
manuscripts/Research_summary.blg
manuscripts/Research_summary.aux
manuscripts/Research_summary.log
manuscripts/Research_summary.out
manuscripts/Research_summary.dvi


garbage_tests/

__pycache__/
*.pyc
*.fls
*.fdp_latexmk
*.fdb_latexmk
*.synctex.gz
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.nav
*.snm
*.toc
*.vrb   

test1/
test3/
test3_nonextruded/
hyperelas3dtest.py
tests/

**/solution/

*.pvd
*.vtu
test.py

.vscode-server/
.ssh/
.pytest_cache/
.gnupg/
.dotnet/
.copilot/
.circleci/
.cache/
__pycache__/
__pycache__/

.gitconfig

paper2.pdf
.local/
comands.txt
dist/
sisc_reproducibility.html.pdf

experiment_*/

*.pdfreview.md
