asttokens==3.0.0
attrs==25.4.0
build==1.5.0
cachetools==6.2.1
certifi==2025.10.5
cgen==2025.1
charset-normalizer==3.4.4
checkpoint_schedules==1.0.4
codepy==2025.1
colorama==0.4.6
comm==0.2.3
constantdict==2025.3
contourpy==1.3.3
coverage==7.11.3
cycler==0.12.1
Cython==3.2.0
dbus-python==1.3.2
debugpy==1.8.17
decorator==4.4.2
execnet==2.1.1
executing==2.2.1
fastjsonschema==2.21.2
fenics-ufl==2025.2.0
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.10.0
genpy==2022.1
h5py==3.15.1
hatchling==1.27.0
idna==3.11
immutabledict==4.2.2
iniconfig==2.3.0
ipykernel==7.1.0
ipympl==0.9.8
ipython==9.7.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
islpy==2025.2.5
jax==0.8.0
jaxlib==0.8.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
libsupermesh==2025.4
loopy==2025.2
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
meson==1.9.1
meson-python==0.18.0
ml_dtypes==0.5.3
mpi-pytest==2025.7
mpi4py==4.1.1
mpmath==1.3.0
nbformat==5.10.4
nbval==0.11.0
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.4
opt_einsum==3.4.0
packaging==25.0
pandas==3.0.5
parso==0.8.5
pathspec==0.12.1
pdf2image==1.17.0
pexpect==4.9.0
pillow==12.0.0
pkgconfig==1.5.5
platformdirs==4.5.0
pluggy==1.6.0
progress==1.6.1
prompt_toolkit==3.0.52
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyadjoint-ad==2025.10.0
pybind11==3.0.1
pycparser==2.23
Pygments==2.19.2
PyGObject==3.48.2
pygraphviz==1.14
pylit==0.8.0
pymbolic==2025.1
pyparsing==3.2.5
pyproject-metadata==0.9.1
pyproject_hooks==1.2.0
pyroltrilinos==0.5.6
pytest==8.4.2
pytest-split==0.10.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
pytools==2025.2.5
pyzmq==27.1.0
recursivenodes==0.2.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
rtree==1.4.1
scipy==1.16.3
setuptools==80.9.0
siphash24==1.8
six==1.17.0
stack-data==0.6.3
symengine==0.14.1
sympy==1.14.0
torch==2.9.0+cpu
tornado==6.5.2
traitlets==5.14.3
trove-classifiers==2025.9.11.17
typing_extensions==4.15.0
urllib3==2.5.0
vtk==9.5.2
wcwidth==0.2.14
wheel==0.42.0
widgetsnbextension==4.0.15
